@model IT_LAB_2.Models.Event
@{
    ViewBag.Title = "EditEvent";
}

<h2>EditEvent</h2>

@using (Html.BeginForm("EditEvent", "Event"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Location)
        @Html.TextBoxFor(m => m.Location, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Location)
    </div>


    <button class="btn btn-success mt-3" type="submit">Edit Movie</button>
}