@model IT_LAB_3.Models.Hospital

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>

<div>
    <h4>Address: @Model.Address</h4>
    <hr />
    <h6>Photo of the hospital:</h6>
    <img src="@Model.ImgUrl" alt="Image" style="max-width: 500px" />
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
